@import url("https://fonts.googleapis.com/css?family=Fira+Mono");
@import "variables.scss";
@import "core-theme/functions.scss";
@import "core-theme/images.scss";
@import "core-theme/codemirror.scss";
@import "components/breadcrumb.scss";
@import "components/console.scss";
@import "components/header.scss";
@import "components/jobpage.scss";
@import "components/pane.scss";
@import "components/pipeline.scss";
@import "components/progress.scss";
@import "components/settings.scss";

body {
    --primary: #fa5b35;
    --primary-hover: color(#fa5b35 shade(10%));
    --link-color: #fa5b35;
    --link-visited-color: #fa5b35;
    --link-color--hover: color(#fa5b35 shade(10%));
    --link-dark-color--hover: #fa5b35;

    --btn-primary-bg: #fa5b35;
    --btn-primary-bg-hover: color(#fa5b35 shade(10%));
}

/* Fix color issue on logs dialog */
.cbwf-stage-logs .node-name,
.cbwf-dialog .header {
    background-color: #ccc !important;
}
