@import url("https://fonts.googleapis.com/css?family=Fira+Mono");
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700); */

@import "variables.scss";
@import "core-theme/functions.scss";
@import "core-theme/images.scss";
@import "core-theme/codemirror.scss";
@import "base.scss";
@import "components/alert.scss";
@import "components/breadcrumb.scss";
@import "components/button.scss";
@import "components/console.scss";
@import "components/footer.scss";
@import "components/header.scss";
@import "components/jobpage.scss";
@import "components/pane.scss";
@import "components/pipeline.scss";
@import "components/progress.scss";
@import "components/settings.scss";
@import "components/table.scss";
@import "components/tabs.scss";

#disable-project {
    float: right;
}

#notification-bar {
    height: 50px !important;
}

#executors .pane-content > table tr td:first-child {
    color: #aaa !important;
    font-weight: bold;
    font-size: 1.3em !important;
    text-align: center;
}

#management-links {
    padding-left: 0 !important;

    a {
        margin-right: 10px;
        font-weight: 600;
    }

    tr {
        display: block;
        margin: 10px 0;
    }

    td div {
        color: #333 !important;
    }
}

#side-panel .task-link {
    color: var(--color-text);
}

a#jenkins-home-link {
    opacity: 1 !important;
}

.ygtvlabel,
.ygtvlabel:link,
.ygtvlabel:visited,
.ygtvlabel:hover {
    background-color: transparent !important;
}

.yuimenuitemlabel {
    outline: none;
}

#main-panel-content > div:nth-child(2) {
    background-color: transparent !important;
}

.ace_editor, .ace_editor * {
    font-family: var(--font-console), monospace !important;
}

[style^="color:gray"] {
    color: var(--color-grey) !important;
}

[style^="color:red"] {
    color: var(--color-error) !important;
}
