:root {
    /* Color */
    --color-brand: #fa5b35;
    --color-white: #fff;
    --color-black: #444;
    --color-grey: #9e9e9e;

    --color-success: #0e7c45;
    --color-warning: #fabe35;
    --color-info: #1b4498;
    --color-error: #b81414;

    /* Console colors */
    // https://github.com/tylerreckart/hyperblue-vibrancy/blob/master/index.js
    --console-selection: rgba(255, 255, 255, 0.15);
    --console-black: #2c2c31;
    --console-white: #f2f2f2;
    --console-red: #d1267f;
    --console-yellow: #f8fb3c;
    --console-green: #00da90;
    --console-blue: #009ce6;
    --console-purple: #ec26cd;
    --console-lime: #c3e88d;
    --console-light-green: #80cbc4;

    /* Font */
    --font-console: "Fira Mono", "Courier New", Menlo, Courier;
}
