@mixin icon-img($url, $icon-color) {
    background-image: svg-load($url, fill=$icon-color);
}

@mixin icon($size) { // outer mixin
    padding-left: calc($size * 1.2) !important;
    padding-top: calc($size * 1.2) !important;
    height: 0 !important;
    width: 0 !important;
    background-size: 100% 100% !important;
    font-size: 0 !important;
}

// Animations

@keyframes keyframes-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@mixin animate-rotate() {
    animation: keyframes-rotate 2s linear infinite;
}
