@import "functions.scss";

// Src
// Reminder: Each selector using `@include icon-img`
// must be declared bellow using .icon-size too

[src$="blue.png"] {
    background-image: svg-load("check_circle.svg", fill=var(--color-success));
}

[src$="red.png"] {
    background-image: svg-load("error.svg", fill=var(--color-error));
}

[src$="yellow.png"] {
    background-image: svg-load("warning.svg", fill=var(--color-warning));
}

[src$="grey.png"], [src$="aborted.png"], [src$="nobuilt.png"], [src$="disabled.png"] {
    background-image: svg-load("remove_circle.svg", fill=var(--color-grey));
}

.icon-health-80plus {
    background-image: svg-load("weather-sunny.svg", fill=var(--color-grey));
}

.icon-health-60to79 {
    background-image: svg-load("weather-partlycloudy.svg", fill=var(--color-grey));
}

.icon-health-40to59 {
    background-image: svg-load("weather-cloudy.svg", fill=var(--color-grey));
}

.icon-health-20to39 {
    background-image: svg-load("weather-rainy.svg", fill=var(--color-grey));
}

.icon-health-00to19 {
    background-image: svg-load("weather-pouring.svg", fill=var(--color-grey));
}

.icon-blue-anime, [src$="blue_anime.gif"] {
    background-image: svg-load("autorenew.svg", fill=var(--color-success));
}

.icon-red-anime, [src$="red_anime.gif"] {
    background-image: svg-load("autorenew.svg", fill=var(--color-error));
}

.icon-grey-anime, [src$="grey_anime.gif"], .icon-nobuilt-anime, .icon-aborted-anime {
    background-image: svg-load("autorenew.svg", fill=var(--color-grey));
}

.icon-yellow-anime, [src$="yellow_anime.gif"] {
    background-image: svg-load("autorenew.svg", fill=var(--color-warning));
}

.icon-collapse {
    background-image: svg-load("expand_less.svg", fill=var(--color-grey));
}

.icon-expand {
    background-image: svg-load("expand_more.svg", fill=var(--color-grey));
}

.icon-stop {
    background-image: svg-load("stop.svg", fill=var(--color-error));
}

[src$="/atom.gif"] {
    @include icon(32px); // medium
    background-image: svg-load("rss-box.svg", fill=var(--color-warning));
}

// Size

[src$="red.png"],
[src$="blue.png"],
[src$="yellow.png"],
[src$="grey.png"],
[src$="aborted.png"],
[src$="nobuilt.png"],
[src$="disabled.png"],
.icon-health-80plus,
.icon-health-60to79,
.icon-health-40to59,
.icon-health-20to39,
.icon-health-00to19,
.icon-blue-anime,
[src$="blue_anime.gif"],
.icon-red-anime,
[src$="red_anime.gif"],
.icon-grey-anime,
[src$="grey_anime.gif"],
.icon-nobuilt-anime,
.icon-aborted-anime,
.icon-yellow-anime,
[src$="yellow_anime.gif"],

.icon-collapse,
.icon-expand,
.icon-stop,
[src$="/atom.gif"] {
    &.icon-xlg, &[src*="48x"], &.icon48x48 {
        @include icon(48px);
    }

    &.icon-lg, &[src*="32x"], &.icon32x32, &[style*="width: 32p"], &[width="32"] {
        @include icon(32px);
    }

    &.icon-md, &[src*="24x"], &.icon24x24, &[style*="width: 24p"], &[width="24"] {
        @include icon(24px);
    }

    &.icon-sm, &[src*="16x"], &.icon16x16, &[style*="width: 16p"], &[width="16"] {
        @include icon(16px);
    }
}

// Animations

[src$="blue_anime.gif"],
[src$="red_anime.gif"],
[src$="grey_anime.gif"],
[src$="yellow_anime.gif"],
.icon-blue-anime,
.icon-red-anime,
.icon-grey-anime,
.icon-yellow-anime,
.icon-nobuilt-anime,
.icon-aborted-anime {
    @include animate-rotate();
}

// Hacks

[src*="www.gravatar.com"] {
    height: auto !important;
    width: auto !important;
    padding: 0 !important;
}

.manage-option .icon {
    top: -5px;
}
