:root {
    --Notification__container-border-color: var(--border-color--default);
    --Notification__container-border-style: var(--border-style--default);
    --Notification__container-border-width: var(--border-width--default);
    --Notification__container-border-radius: var(--border-radius--default);
    --Notification__container-padding: var(--space-size--md);

    --Notification-font-size: var(--font-size--regular);

    --Notification--info__container-border-color: var(--color-info);
    --Notification--info__container-background-color: var(--color-info-light);

    --Notification--success__container-border-color: var(--color-success);
    --Notification--success__container-background-color: var(--color-success-light);

    --Notification--warning__container-border-color: var(--color-warning);
    --Notification--warning__container-background-color: var(--color-warning-light);

    --Notification--error__container-border-color: var(--color-error);
    --Notification--error__container-background-color: var(--color-error-light);
}

.alert {
    box-sizing: border-box;
    display: table;
    width: 100%;
    border: var(--Notification__container-border-width) var(--Notification__container-border-style) var(--Notification__container-border-color);
    border-radius: var(--Notification__container-border-radius);
    padding: var(--Notification__container-padding);
    color: var(--color-base);

    &-warning {
        background-color: var(--Notification--warning__container-background-color);
        border-color: var(--Notification--warning__container-border-color);
    }

    &-danger {
        background-color: var(--Notification--error__container-background-color);
        border-color: var(--Notification--error__container-border-color);
    }

    &-success {
        background-color: var(--Notification--success__container-background-color);
        border-color: var(--Notification--success__container-border-color);
    }

    &-info {
        background-color: var(--Notification--info__container-background-color);
        border-color: var(--Notification--info__container-border-color);
    }
}

.manage-messages .alert form {
    margin: 0 !important;
}
