#breadcrumbBar {
    background-color: transparent;
}

.top-sticker-inner {
    border-top: 3px solid var(--color-brand);
    background: none repeat scroll 0 0 var(--color-sticker-bg) !important;
}

#breadcrumbs li:hover,
A.breadcrumbBarAnchor.mouseIsOverMenuSelector {
    background-color: transparent !important;
}

#breadcrumbs {
    color: var(--color-text) !important;
    text-decoration: none;
}
