:root {

    --Button-border-width: var(--border-width--default);
    --Button-border-style: var(--border-style--default);
    --Button-border-radius: var(--border-radius--default);
    --Button-border-color: var(--border-color--primary);
    --Button-background-color: var(--background-color--default);

    --Button-box-shadow-color: var(--shadow-color--default);
    --Button-box-shadow-width: var(--shadow-size--2);

    --Button--hover-box-shadow-color: var(--shadow-color--secondary);

    --Button--focus-box-shadow-color: var(--shadow-color--focus);
    --Button--focus-box-shadow-width: var(--shadow-size--forState);

    --Button-font-family: inherit;
    --Button-text-color: var(--text-color--primary);
    --Button-font-size: var(--font-size--regular);
    --Button-padding: var(--space-size--sm) var(--space-size--md);

    --Button--xsmall-font-size: var(--font-size--small);
    --Button--xsmall-padding: 0.125rem var(--space-size--sm);
    --Button--small-font-size: var(--font-size--regular);
    --Button--small-padding: var(--space-size--xs) var(--space-size--sm);
    --Button--large-font-size: var(--font-size--large);
    --Button-padding-topBottom: var(--space-size--sm);
    --Button-padding-rightLeft: var(--space-size--md);

    --Button--xsmall-font-size: var(--font-size--small);
    --Button--xsmall-padding-topBottom: 0.125rem;
    --Button--xsmall-padding-rightLeft: var(--space-size--sm);
    --Button--small-font-size: var(--font-size--regular);
    --Button--small-padding-topBottom: var(--space-size--xs);
    --Button--small-padding-rightLeft: var(--space-size--sm);
    --Button--large-font-size: var(--font-size--large);
    --Button--large-padding-topBottom: 0.875rem;
    --Button--large-padding-rightLeft: var(--space-size--lg);

    --Button--loading__after-size: calc(var(--Button-font-size) + var(--Button-padding-topBottom) * 2);
    --Button--xsmall--loading__after-size: calc(var(--Button--xsmall-font-size) + var(--Button--xsmall-padding-topBottom) * 2);
    --Button--small--loading__after-size: calc(var(--Button--small-font-size) + var(--Button--small-padding-topBottom) * 2);
    --Button--large--loading__after-size: calc(var(--Button--large-font-size) + var(--Button--large-padding-topBottom) * 2);
    --Button--loading-text-color: var(--color-transparent);
    --Button--loading-text-color: var(--color-transparent);

    --Button--disabled-border-color: var(--border-color--disabled);
    --Button--disabled-background-color: var(--background-color--disabled);
    --Button--disabled-text-color: var(--text-color--disabled);
    --Button--disabled-opacity: var(--opacity--disabled);

    --Button--cta-border-color: var(--border-color--primary);
    --Button--cta-background-color: var(--background-color--brand);
    --Button--cta-text-color: var(--text-color--onDark);

    --Button--primary-border-color: var(--border-color--primary);
    --Button--primary-background-color: var(--background-color--default);
    --Button--primary-text-color: var(--text-color--primary);

    --Button--secondary-border-color: var(--border-color--secondary);
    --Button--secondary-background-color: var(--background-color--default);
    --Button--secondary-text-color: var(--text-color--secondary);

    --Button--info-border-color: var(--color-info);
    --Button--info-background-color: var(--color-info);
    --Button--info-text-color: var(--text-color--onDark);

    --Button--success-border-color: var(--color-success);
    --Button--success-background-color: var(--color-success);
    --Button--success-text-color: var(--text-color--onDark);

    --Button--warning-border-color: var(--color-warning);
    --Button--warning-background-color: var(--color-warning);
    --Button--warning-text-color: var(--text-color--onLight);

    --Button--error-border-color: var(--color-error);
    --Button--error-background-color: var(--color-error);
    --Button--error-text-color: var(--text-color--onDark);

    --Button--text-border-color: var(--color-transparent);
    --Button--text-background-color: var(--color-transparent);
    --Button--text-text-color: var(--text-color--default);
    --Button--text--hover-text-color: var(--color-brand);

    --Button--flat-border-color: var(--color-transparent);
    --Button--flat-background-color: var(--color-transparent);
    --Button--flat--primary-text-color: var(--text-color--primary);
    --Button--flat--secondary-text-color: var(--text-color--secondary);

    --Button-webkit-tap-highlight-color: var(--background-color--transparent);
    --Button-tap-border-color: var(--color-focus);
}

#jenkins .yui-button {
    button {
        position: relative;
        display: inline-block;
        vertical-align: middle; /* [1]  */

        box-sizing: border-box;
        margin: 0;
        padding: var(--Button-padding);

        cursor: pointer; /* [2]  */

        border-width: var(--Button-border-width);
        border-style: var(--Button-border-style);
        border-radius: var(--Button-border-radius);
        border-color: var(--Button--secondary-border-color);

        background-color: var(--Button--secondary-background-color);

        white-space: normal; /* [3]  */
        font: var(--Button-font-family);
        font-size: var(--Button-font-size);
        color: var(--Button--secondary-text-color);

        line-height: 1;
        text-align: center;
        text-decoration: none;
        text-transform: none;

        user-select: none; /* [4]  */

        box-shadow: var(--Button-box-shadow-width) var(--Button-box-shadow-color);

        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;
        appearance: none;

        transition: border-color 0.35s, background-color 0.35s, color 0.35s;
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

        &:hover {
            background-color: var(--Button--secondary-background-color);
            border-color: var(--Button--secondary-border-color);
            box-shadow: var(--Button-box-shadow-width) var(--Button--hover-box-shadow-color);
        }

        &:focus {
            box-shadow: var(--Button--focus-box-shadow-width) var(--Button--focus-box-shadow-color);
            outline: 0;
            -webkit-tap-highlight-color: var(--Button-webkit-tap-highlight-color);
        }

        &:active {
            box-shadow: none;
            outline: 0;
        }
    }

    &.primary button {
        &,
        &:hover,
        &:focus {
            background: var(--Button--primary-background-color) !important;
            border-color: var(--Button--primary-border-color) !important;
            color: var(--Button--primary-text-color) !important;
        }
    }

    &.danger button {
        &,
        &:hover,
        &:focus {
            background-color: var(--Button--error-background-color) !important;
            border-color: var(--Button--error-border-color) !important;
            color: var(--Button--error-text-color) !important;
        }
    }
}

#enable-project .yui-button {
    vertical-align: middle;
}
