.console-output {
    position: relative;
    font-family: var(--font-console), monospace !important;
    background: var(--console-black);
    color: var(--console-white);
}

.console-output {
    padding: 10px 20px;

    a {
        font-weight: bold;
    }

    div.collapseHeader {
        background-color: var(--console-white);
        color: var(--console-black);
    }

    div.collapseAction p {
        color: var(--console-white) !important;
    }
}
