footer {
    padding: 5px 0;
    background-color: var(--color-footer-bg);
    border: 0;
}

/*.jenkins_ver:after {
    margin-left: 15px;
    content: "neo2-theme @@version";
}*/

.page_generated {
    display: none;
}
