// Hide default title
.page-header__brand-name {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
}

// Put title back with CSS
.page-header__brand-name:after {
    font-size: 16px;
    content: "Jenkins";
}
