#header {
    color: var(--color-brand);
    height: 45px;
    background-color: white;
    //text-transform: uppercase;
    z-index: 1030;
    //letter-spacing: 1px;
    padding: 3px;
    //Custom logo - path here
    //background: url('logo.png') no-repeat, var(--color-brand);
    //background-size: auto 45px, cover;

    .login {
        color: var(--color-brand) !important;
        top: inherit;
        margin-top: 2px;

        a {
            //font-size: 10px;
            padding: 0 16px;
            color: var(--color-brand) !important;
        }

        a:hover {
            color: var(--color-brand) !important;
        }

        b {
            font-weight: 400;
        }
        //Custom logo - hide the default images, but retain the link
        //#jenkins-home-link img {
        //  opacity: 0;
        //}
    }

    .searchbox {
        padding: 2px 10px;
        text-transform: none;
    }

    #search-box {
        background: white;
        border: 1px solid var(--color-brand);
        padding-left: 5px;
        border-radius: 3px;
        height: 34px;
        box-shadow: none;
        color: var(--color-base);

        &::placeholder {
            color: rgba(0, 0, 0, 0.8);
            text-transform: capitalize;
        }
    }
}

#search-box-completion .yui-ac-content {
    border-width: 0;
    box-shadow: 1px 1px 5px #555;

    .yui-ac-bd {
        display: block;
    }
}

#search-box-completion LI.yui-ac-highlight {
    background: var(--color-brand);
}
