#header {
    height: 45px;
    background-color: var(--color-primary);
    //text-transform: uppercase;
    z-index: 1030;
    //letter-spacing: 1px;
    padding: 3px;
    //Custom logo - path here
    //background: url('logo.png') no-repeat, var(--color-primary);
    //background-size: auto 45px, cover;

    .login {
        top: inherit;
        margin-top: 2px;

        a {
            //font-size: 10px;
            padding: 0 16px;
        }

        a:hover {
            color: var(--color-white) !important;
        }

        b {
            font-weight: 400;
        }
        //Custom logo - hide the default images, but retain the link
        //#jenkins-home-link img {
        //  opacity: 0;
        //}
    }

    .searchbox {
        padding: 2px 10px;
        text-transform: none;
    }

    #search-box {
        background: color(var(--color-primary) shade(10%));
        padding-left: 5px;
        border-radius: 3px;
        height: 34px;
        border: 0;
        box-shadow: none;
        color: var(--color-white);

        &::placeholder {
            color: rgba(255, 255, 255, 0.8);
        }
    }
}
