#buildHistoryPage {
    .build-search-row {
        input {
            padding: 5px;
        }

        td {
            padding: 0;
        }

        td td {
            padding: 0.2em 1em;
        }

        .clear {
            padding: 5px 10px;
            font-size: 1.3em;
            top: 0.3em;
            right: 0.6em;

            &:hover {
                border: 0;
                padding-right: 10px;
                top: 0.3em;
            }
        }
    }
}
