#buildHistoryPage {
    .build-search-row {
        input {
            border-width: 1px;
            padding: 5px;

            &::placeholder {
                text-transform: capitalize;
            }
        }

        td {
            padding: 0;
        }

        td td {
            padding: 0.1em 0.3em;
        }
    }

    .build-row.multi-line .build-row-cell .left-bar {
        display: none;
    }
}
