.pane-frame {
    border: 1px solid #ddd;

    &:hover, &.mouseover {
        border: 1px solid #ddd !important;
    }

    .pane-header, .pane-footer {
        background: transparent;
        margin-bottom: 5px;
        border-radius: 0;
        border: 0;
    }

    .pane-header {
        border-bottom: 2px solid var(--color-accent-light);
    }

    .single-line:hover, .single-line.model-link-active {
        background: var(--color-accent-light) !important;
    }
}

#main-panel .pane-frame {
    border: 0;

    &:hover, &.mouseover {
        border: 0 !important;
    }
}

th.pane {
    background-color: transparent;
}
