table.progress-bar.red td.progress-bar-done {
    background-color: var(--color-red) !important;
    border-color: var(--color-red) !important;
}

td.progress-bar-done {
    background-color: var(--color-green) !important;
    border-color: var(--color-green) !important;
}

td.progress-bar-left {
    border: none !important;
    background-color: #ccc !important;
}

table.progress-bar {
    border-color: transparent !important;
}
