.setting-name {
    vertical-align: top;
    text-align: right;
    padding-top: 0.57em;
}

.repeated-chunk {
    background: rgba(10, 15, 20, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
}
