.bigtable {
    th {
        border-bottom: 2px solid var(--color-accent-light);
        background-color: transparent;
    }
}

table.stripped-odd tr:nth-child(odd) {
    background: color(var(--color-bg) shade(2%));
}

td {
    vertical-align: middle;
}
