.bigtable {
    background: white;

    .pane-frame table&, #plugins& {
        border: 1px solid var(--border-color--default);
    }

    th {
        border-bottom: 2px solid var(--color-brand);
        background-color: transparent;
    }
}

table.stripped-odd tbody tr:nth-child(odd) {
    background: color(var(--color-bg) shade(2%));
}

table.stripped-odd tbody tr.header {
    background: white;
}

td {
    vertical-align: middle;
}

#plugins tr:first-child {
    background: white;
}

#plugins {
    margin-bottom: 1rem;
}
